<%= form_for(@auto_sale) do |f| %>
  <% if @auto_sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto_sale.errors.count, "error") %> prohibited this auto_sale from being saved:</h2>

      <ul>
      <% @auto_sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>

  <%= f.fields_for :auto, f.object.build_auto, :html => { :multipart => true } do |auto_fields| %>
    <%= t('Car for sale') %> <br />
    <%= auto_fields.text_field :name %><br />

    <%= t('Mode year') %> <br />
    <%= auto_fields.select :year, options_for_select(Settings.data.year) %> </br />

    <%= t('Made in') %> <br />
    <%= auto_fields.select :madein, options_for_select(Settings.data.madein) %><br />

    <%= t('Type') %> <br />
    <%= auto_fields.select :type, options_for_select(Settings.data.modeltype) %><br />

    <%= t('Color') %> <br />
    <%= auto_fields.select :color, options_for_select(Settings.data.color) %><br />

    <%= t('Went') %> <br />
    <%= auto_fields.number_field :went %><br />

    <%= t('Description') %> <br />
    <%= auto_fields.text_field :description %><br />

    <%= auto_fields.fields_for :photos, auto_fields.object.photos.new do |p| %>
      <div class="field">
        <%= p.label :avatar %><br>
        <%= p.file_field :avatar, :multiple => true, name: "photos[avatar][]" %>
     </div>
   <% end %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
