<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @auto_sale.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @auto_sale.price %>
</p>
<% @photos.each do |p| %>
  <%= image_tag p.avatar_url %>
<% end %>


<%= link_to 'Edit', edit_auto_sale_path(@auto_sale) %> |
<%= link_to 'Back', auto_sales_path %>
